# ASSIGNMENT-1

**Q1. Find the sum, difference, product and quotient of a given number.**

In [3]:
num1 = int(input("Enter the first number:"))
num2 = int(input("Enter the second number:"))

print("Sum:", num1 + num2)
print("Difference:", num1 - num2)
print("Product:", num1 * num2)
print("Quotient:", num1 / num2)

Enter the first number: 8
Enter the second number: 4

Sum: 12
Difference: 4
Product: 32
Quotient: 2.0

**Q2. Find the remainder of a number.**

In [3]:
num1 = int(input("Enter the dividend:"))
num2 = int(input("Enter the divisor:"))
print("Remainder:", num1 % num2)

Enter the dividend: 8
Enter the divisor: 4

Remainder: 0

**Q3. Compute the square and cube of a given number.**

In [5]:
num = int(input("Enter a number: "))
print("Square:", num ** 2)
print("Cube:", num ** 3)

Enter a number:  2

Square: 4
Cube: 8

**Q4. Calculate the average of three numbers.**

In [6]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))
print("Average of three numbers is:", (num1 + num2 + num3) / 3)

Enter the first number:  1
Enter the second number:  2
Enter the third number:  4

Average of three numbers is: 2.3333333333333335

**Q5. Convert total seconds into minutes and seconds.**

In [9]:
t_secs = int(input("Enter the total seconds:: "))
print("Minutes:", t_secs // 60)
print("Seconds:", t_secs % 60)

Enter the total seconds::  90

Minutes: 1
Seconds: 30

**Q6. Find the area of a circle of a given radius.**

In [10]:
radius = float(input("Enter the radius of the circle: "))
print("Area of circle:", 3.14 * radius ** 2)

Enter the radius of the circle:  2

Area of circle: 12.56

**Q7. Calculate the simple interest.**

In [11]:
p = float(input("Enter the Principal Amount:"))
r = float(input("Enter the Rate of Interest:"))
t = float(input("Enter the Time Period:"))
print("Simple Interest:", p * r * t / 100)

Enter the Principal Amount: 1000
Enter the Rate of Interest: 10
Enter the Time Period: 2

Simple Interest: 200.0

**Q8. Calculate the power of a number using the exponent operator.**

In [12]:
base = int(input("Enter the base: "))
exponent = int(input("Enter the exponent: "))
print("Power of the number is:", base ** exponent)

Enter the base:  2
Enter the exponent:  3

Power of the number is: 8

**Q9. Find the last digit of a number.**

In [14]:
num = int(input("Enter a number: "))
print("Last digit:", num % 10)

Enter a number:  1234567

Last digit: 7

**Q10. Calculate the total marks and the percentage of five subjects.**

In [17]:
mark1 = float(input("Enter the marks in subject 1: "))
mark2 = float(input("Enter the marks in subject 2: "))
mark3 = float(input("Enter the marks in subject 3: "))
mark4 = float(input("Enter the marks in subject 4: "))
mark5 = float(input("Enter the marks in subject 5: "))
total_marks = mark1 + mark2 + mark3 + mark4 + mark5
print("Total marks secured:", total_marks)
print("Percentage:", (total_marks / 500)*100)

Enter the marks in subject 1:  90
Enter the marks in subject 2:  92
Enter the marks in subject 3:  94
Enter the marks in subject 4:  95
Enter the marks in subject 5:  98

Total marks secured: 469.0
Percentage: 93.8

##### Q11. Write a program to demonstrate the function of += and *=.

In [6]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num1 += num2
print(num1)
num1 *= num2
print(num1)

Enter the first number:  4
Enter the second number:  1

5
5

**Q12. Update a variable by addiing 10 and then multipying 12.**

In [7]:
num = int(input("Enter a number:"))
num += 10
print("After adding 10: ",num)
num *= 12
print("After multiplying 12: ",num)

Enter a number: 1

After adding 10:  11
After multiplying 12:  132

**Q13. Write an expression using //= to reduce a number.**

In [8]:
num1 = int(input("Enter a number:"))
num2 = int(input("Enter a number:"))
num1 //= num2
print("Reduced number is:",num1)

Enter a number: 8
Enter a number: 4

Reduced number is: 2

**Q14. Use assignment operator to swap two numbers wihtout using a third variable.**

In [11]:
num1 = int(input("Enter the first number:"))
num2 = int(input("Enter the second number:"))
num1,num2 = num2,num1
print("After swapping")
print("First number=",num1)
print("Second number=",num2)

Enter the first number: 10
Enter the second number: 20

After swapping
First number= 20
Second number= 10

**Q15. Modify a number using %=.**

In [20]:
num1 = int(input("Enter a number:"))
num2 = int(input("Enter a number:"))
num1 %= num2
print("Modified number=",num1)

Enter a number: 11
Enter a number: 3

Modified number= 2

**Q16. Find the solution of a quadratic equation.**

In [27]:
a = int(input("Enter the coefficient of x^2: "))
b = int(input("Enter the coefficient of x: "))
c = int(input("Enter the constant coefficient: "))
determinant = (b ** 2 - 4 * a * c) * 0.5
print("First Root:", (-b + determinant) / (2 * a))
print("Second Root:", (-b - determinant) / (2 * a))

Enter the coefficient of x^2:  1
Enter the coefficient of x:  5
Enter the constant coefficient:  6

First Root: -2.25
Second Root: -2.75

**Q17. Accept basic salary from user and calculate DA(20%), HRA(20%) and calculate the gross salary.**

In [15]:
basic_sal = float(input("Enter your Basic Salary: "))
DA = basic_sal * 0.5
HRA = basic_sal * 0.2
print("Gross Salary:", basic_sal + DA + HRA)

Enter your Basic Salary:  1000

Gross Salary: 1700.0

**Q18. Convert the temperature from celsius to fahrenheit and vice versa.**

In [17]:
fahrenheit = float(input("Enter the temperature in Fahrenheit: "))
print("Equivalent Celsius temperature:", 5 / 9 * (fahrenheit - 32))
celsius = float(input("Enter the temperature in Celsius: "))
print("Equivalent Fahrenheit temperature:", 9 / 5 * celsius + 32)

Enter the temperature in Fahrenheit:  32

Equivalent Celsius temperature: 0.0

Enter the temperature in Celsius:  212

Equivalent Fahrenheit temperature: 413.6

**Q19. Find the sum of n natural numbers.**

In [23]:
num = int(input("Enter a number:"))
print("Sum of", num, "natural nubers is:",num*(num+1)//2)

Enter a number: 6

Sum of 6 natural nubers is: 21

**Q20. Take input of two numbers and perform all logical and bitwise operator.**

In [26]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
print("Logical NOT:", not num1)
print("Logical AND:", num1 and num2)
print("Logical OR:", num1 or num2)
print("Logical XOR:", (num1 and not num2) or (not num1 and num2))
print("Logical XNOR:", (num1 and num2) or (not num1 and not num2))
print()
print("Bitwise NOT: ", ~num1)
print("Bitwise AND:", num1 & num2)
print("Bitwise OR:", num1 | num2)
print("Bitwise XOR:", num1 ^ num2)
print("Bitwise XNOR:", ~(num1 ^ num2))
print("Bitwise Left Shift:", num1 << num2)
print("Bitwise Right Shift:", num1 >> num2)

Enter the first number:  4
Enter the second number:  2

Logical NOT: False
Logical AND: 2
Logical OR: 4
Logical XOR: False
Logical XNOR: 2

Bitwise NOT:  -5
Bitwise AND: 0
Bitwise OR: 6
Bitwise XOR: 6
Bitwise XNOR: -7
Bitwise Left Shift: 16
Bitwise Right Shift: 1